In [92]:
import numpy as np
import pandas as pd

Задание 1 из темы “Обучение с учителем”

In [93]:
from sklearn.datasets import load_boston

In [94]:
boston=load_boston()

In [95]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

target - величина, которую нужно предсказать (цена на недвижимость)

In [96]:
target=boston.target

feature_names - название признаков

In [97]:
feature_names=boston.feature_names

In [98]:
data=boston.data

In [99]:
X=pd.DataFrame(data,columns=feature_names)

In [100]:
X.info

<bound method DataFrame.info of         CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0    0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1    0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2    0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3    0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4    0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0
..       ...   ...    ...   ...    ...    ...   ...     ...  ...    ...
501  0.06263   0.0  11.93   0.0  0.573  6.593  69.1  2.4786  1.0  273.0
502  0.04527   0.0  11.93   0.0  0.573  6.120  76.7  2.2875  1.0  273.0
503  0.06076   0.0  11.93   0.0  0.573  6.976  91.0  2.1675  1.0  273.0
504  0.10959   0.0  11.93   0.0  0.573  6.794  89.3  2.3889  1.0  273.0
505  0.04741   0.0  11.93   0.0  0.573  6.030  80.8  2.5050  1.0  273.0

     PTRATIO       B  LSTAT
0       15.3  396.90   4.98
1       17.8  396.90   9.14
2       17.8  392.83   4.03
3       18.7  394.63   2.94
4       18.7  396.90   5.33
..       ...     ...    ...
501     21.0  391.99   9.67
502     21.0  396.90   9.08
503     21.0  396.90   5.64
504     21.0  393.45   6.48
505     21.0  396.90   7.88

[506 rows x 13 columns]>

In [101]:
y=pd.DataFrame(target,columns=['price'])

In [102]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

Разбиение данных на тренировочные и тестовые

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.3, random_state=42)

Построение модели линейной регрессии

In [105]:
from sklearn.linear_model import LinearRegression

In [106]:
lr=LinearRegression()

In [107]:
lr.fit(X_train, y_train)

LinearRegression()

In [108]:
y_pred=lr.predict(X_test)

In [109]:
check_test=pd.DataFrame({'y_test':y_test['price'],
                        'y_pred':y_pred.flatten()},
                       columns=['y_test','y_pred'])

In [110]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

R2

In [111]:
from sklearn.metrics import r2_score

In [112]:
r2_score(y_test,y_pred)

0.711226005748496

Задание 2 из темы “Обучение с учителем”

In [113]:
from sklearn.ensemble import RandomForestRegressor

In [114]:
regr=RandomForestRegressor(n_estimators=1000, max_depth =12, random_state=42)

In [115]:
regr.fit(X_train, y_train.values[:,])

<ipython-input-115-731993553c23>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regr.fit(X_train, y_train.values[:,])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [116]:
y_pred=regr.predict(X_test)

In [117]:
check_test=pd.DataFrame({'y_test':y_test['price'],
                        'y_pred':y_pred.flatten()},
                       columns=['y_test','y_pred'])

In [118]:
check_test.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

R2

In [119]:
from sklearn.metrics import r2_score

In [120]:
r2_score(y_test,y_pred)

0.87472606157312

Так как по результатам работы 2 модели показатель R2 получился ближе к 1, следовательно 2 модель на этих данных работает лучше